@page
@{
    ViewData["Title"] = "Termini di utilizzo";
}
<h1>@ViewData["Title"]</h1>
<ol>
	<li> Non è possibile fornire alcuna garanzia sul contenuto del sito che deve essere quindi opportunamente valutato dal visitatore. [[Azienda]] non assume pertanto responsabilità di alcun genere con riferimento all'utilizzo del sito ed al suo contenuto. </li>
	<li>[[Azienda]] si riserva il diritto di interrompere o sospendere in qualsiasi momento le funzionalità del sito, sia che ciò avvenga in conseguenza di azioni od omissioni di [[Azienda]], sia di terze parti. </li>
	<li>Le informazioni presenti nel sito potrebbero contenere errori. [[Azienda]] può modificare in ogni momento e senza preavviso le predette informazioni.</li>
	<li>Il frazionamento di parti o sezioni del presente sito e/o l'incorporazione delle stesse in altri siti di terze parti estranee alla società [[Azienda]] è vietato.</li>
	<p>Non è consentito accedere ai servizi forinti dal sito avvalendosi di tecniche automatizzate come scraping, spider, ecc...</p>
</ol>
