@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Conferma cambio email";@* Confirm email change *@
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />