@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma per password dimenticata";@* Forgot password confirmation *@
}

<h1>@ViewData["Title"]</h1>
<p>
    @* Please check your email to reset your password. *@
    Per favore, controlla la tua email per reimpostare la tua password.
</p>

