@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma la registrazione";@* Register confirmation *@
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    @* This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a> *@
	Questa app non supporta ancora la verifica dell'email.
    Avresti dovuto ricevere per email quanto segue: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Fai clic qui per confermare il tuo account</a>
</p>
    }
    else
    {
<p>
        @* Please check your email to confirm your account. *@
		Per favore, controlla la tua email per confermare il tuo account.
</p>
    }
}
