@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma la reimpostazione della password";@* Reset password confirmation *@
}

<h1>@ViewData["Title"]</h1>
<p>
    @* Your password has been reset. Please <a asp-page="./Login">click here to log in</a>. *@
	La tua password è stata reimpostata. Per favore, <a asp-page="./Login">fai clic qui per accedere</a>.
</p>
