@page
@{
    ViewData["Title"] = "In arrivo";
}
<h1>Pagina in lavorazione</h1>
<p>Il contenuto di questa pagina non è ancora disponbile.</p>
<p><a asp-controller="Books" asp-action="Index">Torna alla libreria</a></p>